/* prose pages */
/* Fonts are set on the container and header in case a theme likes to override h1 styles. */
.prose {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.prose {font-family: 'EB Garamond', serif; margin-left: auto; margin-right: auto; max-width: 608px;}
    .prose h1 {font-family: 'EB Garamond', serif;text-align:center !important;margin-bottom: 70px; margin-top: 70px;}
    /* Justify makes the line spread to the full width. WordPress makes this even nicer by using automatic line hyphenation. */
    .prose p {margin:0;text-align:justify}
    .prose p.space{min-height:1em;}
    .prose p + p {text-indent: 28.8px;}
    /* Use .pov where you want to put *** or another marker centred between sections. */
    .prose p.pov {text-align:center;}
    /* Force the lines following a .pov or .space to be non-indented. .first enables you to force this on a specific line with no prior space */
    .prose p.first, .prose p.pov, .prose p.pov + p, .prose p.space + p {text-indent:0;}
    .prose h1 + p::first-letter {float: left;font-size: 62px;line-height: 2.8;margin-right: 4px;margin-top: 7px;}
